language: android


cache:
  directories:
  - .gradle
  - gradle
  - app/build

android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
#    - tools
#    - platform-tools

    # The BuildTools version used by your project
    - build-tools-26.0.1

    # The SDK version used to compile your project
    - android-26
    - sys-img-armeabi-v7a-android-2

before_install:
  - yes | sdkmanager "platforms;android-24"


jobs:
  include:
  - stage: Android Tests
    before_script:
    - echo no | avdmanager create avd -n test -k "system-images;android-24;google_apis;x86"
    - emulator -avd test -no-window &
    - android-wait-for-emulator
    - adb shell input keyevent 82 &
    script: ./gradlew connectedDevDebugAndroidTest
  - stage: Checkstyle
    script: ./gradlew checkstyle
  - stage: UnitTests
    script: ./gradlew testDevDebug



#work done with trying to store build result remotely between stages

#before_install:
#  - cp -r ./.aws ~
#  - ls ~/.aws
#  - yes | sdkmanager "platforms;android-27"
#  - pip install --user awscli
#  - mkdir -p ~/$TRAVIS_BUILD_NUMBER
#  - aws s3 sync s3://soen390deployment/$TRAVIS_BUILD_NUMBER ~/$TRAVIS_BUILD_NUMBER
#
#jobs:
#  include:
#    # pre-build stage
#    - stage: pre-build
#      script: ./gradlew preDevDebugBuild
#    # checkstyle stage
#    - stage: checkstyle
#      script: ./gradlew checkstyle
#    # test stage
#    - stage: test
#      script: ./gradlew testDevDebugUnitTest
#    # build stage
#    - stage: build
#      script:
#      - ./gradlew -q clean assembleDevDebug
#
#      - ls
#      - cp app/build/outputs/apk/dev/debug/app-dev-debug.apk ~/$TRAVIS_BUILD_NUMBER
#      - aws s3 sync ~/$TRAVIS_BUILD_NUMBER s3://soen390deployment/$TRAVIS_BUILD_NUMBER
#
#    # test stage
#    - stage: test #testDevDebug
#      script: ./gradlew testDevDebugUnitTest

