language: android

android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
#    - tools
#    - platform-tools

    # The BuildTools version used by your project
    - build-tools-26.0.1

    # The SDK version used to compile your project
    # Uncomment corresponding emulator
    - android-22
#    - android-24

    - sys-img-armeabi-v7a-android-22

#    - sys-img-x86-android-24

before_install:
  - yes | sdkmanager "platforms;android-27"


jobs:
  include:
  - stage: Android Tests
    before_script:
    - echo no | android create avd --force -n test -t android-22 --abi armeabi-v7a
#    - echo no | android create avd --force -n test -t android-24 --abi x86

    - emulator -avd test -no-window &
    - android-wait-for-emulator
    - adb shell input keyevent 82 &
    script: ./gradlew connectedDevDebugAndroidTest
    if: branch = master
  - stage: Checkstyle
    script: ./gradlew checkstyle
  - stage: UnitTests
    script: ./gradlew testDevDebug



