language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
#    - tools
#    - platform-tools

    # The BuildTools version used by your project
    - build-tools-26.0.1

    # The SDK version used to compile your project
    - android-26

script: ./gradlew testDevDebug

before_install:
  - yes | sdkmanager "platforms;android-27"

#Testing of build stages for TravisCI
jobs:
  include:
    - stage: deploy to staging
      install: skip
      script: ./gradle
    - &test-staging
      stage: test staging
      install: skip
      script: ./gradlew testDevDebug