language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
#    - tools
#    - platform-tools

    # The BuildTools version used by your project
    - build-tools-26.0.1

    # The SDK version used to compile your project
    - android-26

script: ./gradlew testDevDebug

before_install:
  - cp -r ./.aws ~
  - ls ~/.aws
  - yes | sdkmanager "platforms;android-27"
  - pip install --user awscli
  - mkdir -p ~/$TRAVIS_BUILD_NUMBER
  - aws s3 sync s3://soen390deployment/$TRAVIS_BUILD_NUMBER ~/$TRAVIS_BUILD_NUMBER

jobs:
  include:
#    # pre-build stage
#    - stage: pre-build
#      script: ./gradlew preDevDebugBuild
#    # checkstyle stage
#    - stage: checkstyle
#      script: ./gradlew checkstyle
#    # lint stage
#    - stage: lint
#      script: ./gradlew lintDevDebug
#    # test stage
#    # build stage
    - stage: build
      script:
      - ./gradlew -q clean assembleDevDebug
      - echo $TRAVIS_BUILD_NUMBER
      - ls -r app/build
      - ls build
      - cp ./app/build/outputs/apk/alpha/debug/app-alpha-debug.apk ~/$TRAVIS_BUILD_NUMBER
      - aws s3 sync ~/$TRAVIS_BUILD_NUMBER s3://soen390deployment/$TRAVIS_BUILD_NUMBER

#    # test stage
#    - stage: test #testDevDebug
#      script: ./gradlew testDevDebugUnitTest

