language: android
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
#    - tools
#    - platform-tools

    # The BuildTools version used by your project
    - build-tools-26.0.1

    # The SDK version used to compile your project
    - android-26

#script: ./gradlew testDevDebug

before_install:
  - yes | sdkmanager "platforms;android-27"

#Testing of build stages for TravisCI
# clean
# generateAlphaDebugSources
# generateAlphaDebugAndroidTestSources
# mockableAndroidJar

# assembleAlphaDebug
    #- stage: clean
    #  script: ./gradle clean


jobs:
  include:
    - stage: pre-build
      script: ./gradlew preDevDebugBuild
    #- stage: install
    #  script: ./gradlew installDevDebug
    - stage: check
      script: ./gradlew check
    - stage: lint
      script: ./gradlew lintDevDebug
    - stage: test #testDevDebugUnitTest
      script: ./gradlew testDevDebug

#travis build log
# preBuild
# preDevDebugBuild
#compileDevDebugAidl
#compileDevDebugRenderscript
#checkDevDebugManifest
#generateDevDebugBuildConfig
#prepareLintJar
#generateDevDebugResValues
#generateDevDebugResources
#mergeDevDebugResources
#createDevDebugCompatibleScreenManifests
#processDevDebugManifest
#splitsDiscoveryTaskDevDebug
#processDevDebugResources
#generateDevDebugSources
#javaPreCompileDevDebug
#compileDevDebugJavaWithJavacNote
#preDevDebugUnitTestBuild
#javaPreCompileDevDebugUnitTest
#compileDevDebugUnitTestJavaWithJavacNote
#mockableAndroidJar
#processDevDebugJavaRes
#processDevDebugUnitTestJavaRes
#testDevDebugUnitTest
#clean checkstyle assembleAlphaRelease lintAlphaRelease testAlphaRelease compileAlphaReleaseAndroidTestSources