language: android

env:
  global:
    # include $HOME/.local/bin for `aws`
    - PATH=$HOME/.local/bin:$PATH

deploy:
  provider: s3
  access_key_id: "AKIAJSPBEXPBXBHW77MA"
  secret_access_key: "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"
  bucket: "soen390deployment"

android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
#    - tools
#    - platform-tools

    # The BuildTools version used by your project
    - build-tools-26.0.1

    # The SDK version used to compile your project
    - android-26

script: ./gradlew testDevDebug

before_install:
  - yes | sdkmanager "platforms;android-27"
  # set up awscli packages
  - pip install --user awscli
  - mkdir -p ~/$TRAVIS_BUILD_NUMBER
  - aws s3 sync s3://soen390deployment/$TRAVIS_BUILD_NUMBER ~/$TRAVIS_BUILD_NUMBER



#language: android
#android:
#  components:
#    # Uncomment the lines below if you want to
#    # use the latest revision of Android SDK Tools
##    - tools
##    - platform-tools
#
#    # The BuildTools version used by your project
#    - build-tools-26.0.1
#
#    # The SDK version used to compile your project
#    - android-26
#
##script: ./gradlew testDevDebug
#
#before_install:
#  - yes | sdkmanager "platforms;android-27"
#
#jobs:
#  include:
#    # pre-build stage
#    - stage: pre-build
#      script: ./gradlew preDevDebugBuild
#    # checkstyle stage
#    - stage: checkstyle
#      script: ./gradlew checkstyle
#    # lint stage
#    - stage: lint
#      script: ./gradlew lintDevDebug
#    # test stage
#    # build stage
#    - stage: build
#      script: ./gradlew -q clean assembleDevDebug
#    # test stage
#    - stage: test #testDevDebug
#      script: ./gradlew testDevDebugUnitTest
